*.pyc
*.pyo
.nfs*
odyssey_config.py
*.DS_Store
paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.log
paper/*.out
paper/*.synctex.gz
paper/*.pdf
*.tex.swp
data/omniglot/*
data/mnist/*
experiments/Feb_3_nn_ard/2_only_ard/results.pkl
experiments/Feb_3_nn_ard/1/results.pkl
